$tituloH1:  'Raleway', sans-serif, black, #69E171, 2em;
$tituloH2:  'Raleway', sans-serif, black, #E09653, 1.5em;

$color1: #5ea063;
$color2: #E09653;
$color3:  #69E171;
$color4: #9880e05f;
$lila: #9880e0fb;

$titulo1: 'Raleway', sans-serif;
$titulo2: 'Raleway', sans-serif;